/* Import google font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* All elements */
* {
	margin: .5em 1em;
}

header {
	border: 1px solid blue;
	overflow: auto;
}

h1 {
	font-family: Verdana, "Times New Roman", serif;
	color: blue;
	font-size: 3em;
	
	/* text-shadow: 0.1em 0.1em #aaaaaa; */
	text-shadow:
		0px 3px 0px #b2a98f,
		0px 7px 5px rgba(0,0,0,0.15),
		0px 12px 1px rgba(0,0,0,0.1),
		0px 17px 17px rgba(0,0,0,1);
		
	animation-name:redtoblue;
	animation-duration:8s;
}

@keyframes redtoblue {
	from {color: #ff0000;}
	to {color: #0000ff;}
}



body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 1020px; 
	background-color: white;
	/*margin: 15px auto;*/
	padding: 15px 1.5em;
	border: 1px solid black;
	border-radius: 25px;
	/*box-shadow: 5px 5px 0 0;*/
}

p {
	text-align:justify;
	font-size: 100%;
	font-style: normal;
	color:#000000;
	padding-bottom: .01em;
	margin-left: 2em;
}

.share {
	display: block;
}

.bgimage {
	background-image: url('../images/nice.jpg');
	background-position: center center;
	background-size: cover;
	height: 200px;
}












